#timeline {
  margin: 1em auto;
}

.post {
  padding: 7px;
  margin-bottom: 7px;
}

.post q {
  display: block;
}

#new_post {
  padding: 7px;
}
.default {
  width: 634px;
  height: 914px;
  background-color: #ffffff;
}

.combined-shape-copy {
  width: 91%;
  margin-left: 75px;
  height: 29%;
  border-radius: 7px;
  background-color: #f6f6f6;
}

.twitter-comment {
  width: 438px;
  height: 42px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.4;
  text-align: left;v
  color: #092828;
}

.user-styles {
  width: 143px;
  height: 13px;
  font-family: Roboto;
  font-size: 11px;
  color: #092828;
  display: inline;
}

.user-avatar {
  width: 58px;
  height: 50px;
  background-color: yellow;
  float: left;
  /*margin-left: 15px;*/
  margin-right: 38px;
}

.user-timestamp {
  font-family: Roboto;
  float: right;
  color: #092828;
  font-size: 11px;
  text-align: right;
}
